.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.add form{
    gap: 20px;
}

.add-image-upload img{
    width: 120px;
}

.add-product-name, .add-product-description{
    width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea{
    padding: 10px;
}

.add-category-price{
    display: flex;
    gap: 30px;
}

.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}

.add-btn{
    max-width: 120px;
    border: none;
    background-color: #01b0e4;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}