.app-download-box {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    margin: 1rem auto;
    padding: 1rem;
    width: 75%;
}

.app-download-box .heading-box {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1.5rem;
}

.app-download-box .main-heading {
    font-size: 1.35rem;
}

.app-download-box .sub-heading {
    font-size: 1rem;
    font-weight: 600;
}

.app-download-box .image-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.image-box img {
    width: 6.5rem;
    cursor: pointer;
    transition: all 0.35s linear;
}

.image-box img:hover {
    scale: 1.1;
}

@media screen and (min-width:1280px) {
    .app-download-box {
        margin-block: 4rem;
        width: 40%;
    }

    .app-download-box .main-heading {
        font-size: 2.75rem;
    }

    .app-download-box .sub-heading {
        font-size: 1.75rem;
    }

    .app-download-box .image-box {
        gap: 2rem;
    }

    .image-box img {
        width: 10rem;
    }
}