.list {
    margin-bottom: 30px;
}

.list h2 {
    font-size: 25px;
}

.list-table-format {
    display: grid;
    grid-template-columns: 1.5fr 2fr 5fr 1.5fr 1.5fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 15px 15px;
    border: 1px solid #cacaca;
    font-size: 15px;
}

.list-table-format.title {
    font-weight: 600;
    background-color: #e6e4e4;
}

.list-table-format img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 20px;
}

.action {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icons {
    font-size: 26px;
    cursor: pointer;
}

.remove {
    color: red;
}

.update {
    color: #0bd365;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .list-table-format {
        grid-template-columns: 1.5fr 2fr 4fr 1.5fr 1.5fr 0.5fr;
    }
}

@media (max-width: 900px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 2fr 2fr;
    }
}

@media (max-width: 600px) {
    .list-table-format {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border: none;
    }

    .list-table-format > * {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .list-table-format > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .list-table-format.title {
        display: none;
    }

    .list h2 {
        font-size: 22px;
    }

    .list p {
        font-size: 16px;
    }

    .icons {
        font-size: 22px;
    }

    .list-table-format img {
        width: 80px;
        height: 80px;
    }
}
